.dashboard,
.dashboard * {
    box-sizing: border-box;
}

.dashboard {
    background: #f1f1f1;
    padding: 50px;
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 1030px;
    position: relative;
    overflow: hidden;
}

.left-panel {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    width: 1096.33px;
    position: relative;
    overflow: hidden;
}

.toggles-bar-chart {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.toggles-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    width: 424px;
    position: relative;
}

.title {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    min-height: 64px;
    position: relative;
}

.mental-health {
    color: #000000;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 50px;
    line-height: 150%;
    letter-spacing: -0.011000000000000001em;
    font-weight: 500;
    position: relative;
}

.toggles {
    background: #ffffff;
    border-radius: 4px 4px 0px 0px;
    padding: 16px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 246px;
    position: relative;
}

.selected-ctrs {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.selected-countries {
    color: #000000;
    text-align: left;
    font-family: "Roboto-SemiBold", sans-serif;
    font-size: 17.0274600982666px;
    font-weight: 600;
    position: relative;
    align-self: stretch;
}

.ctrs-label-area {
    display: flex;
    flex-direction: row;
    gap: 21px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.ctry-1-and-trash-icon {
    display: flex;
    flex-direction: row;
    gap: 12.16px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.ctry-1 {
    flex-shrink: 0;
    width: 141.08px;
    height: 36.49px;
    position: relative;
}

.rectangle-1 {
    background: #66d575;
    border-radius: 9.73px;
    width: 141.08px;
    height: 36.49px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.angola {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15.811213493347168px;
    line-height: 150%;
    letter-spacing: -0.011000000000000001em;
    font-weight: 500;
    position: absolute;
    left: 12.16px;
    top: 6.08px;
    width: 117.1px;
    height: 24.32px;
}

.trash {
    flex-shrink: 0;
    width: 18.24px;
    height: 20.85px;
    position: relative;
    overflow: visible;
}

.ctry-2-and-trash-icon {
    display: flex;
    flex-direction: row;
    gap: 12.16px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.frame-31 {
    flex-shrink: 0;
    width: 141.08px;
    height: 36.49px;
    position: relative;
}

.rectangle-12 {
    background: #3dadff;
    border-radius: 9.73px;
    width: 141.08px;
    height: 36.49px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.barbados {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15.811213493347168px;
    line-height: 150%;
    letter-spacing: -0.011000000000000001em;
    font-weight: 500;
    position: absolute;
    left: 8.51px;
    top: 6.08px;
}

.trash2 {
    flex-shrink: 0;
    width: 18.24px;
    height: 20.85px;
    position: relative;
    overflow: visible;
}

.metric-selector {
    align-self: stretch;
    flex-shrink: 0;
    height: 71.76px;
    position: relative;
}

.mental-health-indicator {
    color: var(--333333-dark-grey, #333333);
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 17.0274600982666px;
    font-weight: 600;
    position: absolute;
    left: 0px;
    top: 0px;
}

.field {
    background: var(--ffffff-white, #ffffff);
    border-radius: 7.3px;
    border-style: solid;
    border-color: var(--d4d4d4-light-grey, #d4d4d4);
    border-width: 1.22px;
    width: 100%;
    height: 61.02%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 38.98%;
}

.vector {
    width: 14.59px;
    height: 7.3px;
    position: absolute;
    right: 15.78px;
    top: calc(50% - -11.55px);
    overflow: visible;
}

.select {
    color: var(--959595-mid-grey-2, #959595);
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 17.0274600982666px;
    font-weight: 400;
    position: absolute;
    left: 14.59px;
    top: calc(50% - -4.26px);
}

.map-detail {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.map-detail2 {
    color: var(--333333-dark-grey, #333333);
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 17.0274600982666px;
    font-weight: 600;
    position: relative;
}

.detail-picker {
    display: flex;
    flex-direction: row;
    gap: 12.16px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.trailing-accessories {
    display: flex;
    flex-direction: row;
    gap: 11.11px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
}

.label {
    color: var(--labels-secondary, rgba(0, 0, 0, 0.5));
    text-align: right;
    font-family: "SfPro-Medium", sans-serif;
    font-size: 18.056392669677734px;
    line-height: 22.22px;
    font-weight: 500;
    position: relative;
}

.push-button {
    border-radius: 8.34px;
    padding: 0px var(--button-padding-horizontal, 22.22px) 0px var(--button-padding-horizontal, 22.22px);
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-end;
    justify-content: center;
    flex-shrink: 0;
    height: 33.33px;
    position: relative;
    overflow: hidden;
}

.bg {
    flex-shrink: 0;
    position: absolute;
    right: 0.45px;
    left: 0px;
    bottom: 0.33px;
    top: 0px;
}

.black {
    background: #000000;
    opacity: 0.05;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
    overflow: hidden;
}

.label2 {
    color: var(--labels-vibrant-use-plus-lighter-or-darker-primary, #4c4c4c);
    text-align: center;
    font-family: "SfPro-Medium", sans-serif;
    font-size: 18.079193115234375px;
    line-height: 22.22px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: plus-darker;
}

.stacked-bar-chart-area {
    padding: 0px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
}

.stacked-bar-chart {
    background: #ffffff;
    border-radius: 4px;
    border-style: solid;
    border-color: #d4d4d4;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.choropleth-area-bg {
    background: #ffffff;
    border-radius: 0px 5.56px 5.56px 5.56px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 27.78px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.choropleth {
    border-radius: 2px;
    border-style: solid;
    border-color: #d4d4d4;
    border-width: 2px;
    padding: 21px 0px 21px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.right-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    align-self: stretch;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.butterfly-chart-area {
    padding: 0px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
}

.butterfly-chart {
    background: #ffffff;
    border-radius: 4px;
    border-style: solid;
    border-color: #d4d4d4;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    gap: 8.56px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.radar {
    background: #ffffff;
    border-radius: 4px;
    border-style: solid;
    border-color: #d4d4d4;
    border-width: 2px;
    padding: 26.15px 20.21px 26.15px 20.21px;
    display: flex;
    flex-direction: column;
    gap: 11.89px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    position: relative;
    overflow: hidden;
}