/* Celková stránka */
.container {
    width: 100%;
    height: 100%;
    background-color: red;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    width: 33%;
    background-color: yellow;
    display: flex;
    justify-content: center;
}

.header h1 {
    font-size: 36px;
}

/* Map */
.map {
    
}


/* Řádky */
.row {
    display: flex;
    height: 45vh;
    margin-bottom: 10px;
}

/* Základ pro graf */
.graph {
    padding: 5px;
}

/* Velikosti */
.graph.large {
    flex: 2;
}

.graph.medium {
    flex: 1;
}

/* Plotly graf musí vyplnit rodiče */
.graph > div {
    height: 100%;
}